<%- include('shared/header')%>
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <label for="textarea-comment">Digite aqui um comentário:</label>
          <textarea id="textarea-comment" name="textarea-comment" rows="8" cols="40"
            class="comment mb-5 mb-md-0"></textarea>
          <button class="btn btn-outline-dark flex-shrink-0" type="button">
            Comentar
          </button>
        </div>
        <div class="col-md-6">
          <h2 class="display-5 fw-bolder">Comentários:</h2>
          <p class="lead">API criada para converter textos em audio, ao clicar no botão Ouvir, o mesmo faz uma request
            para a API da IBM </p>
          <audio src="" />
          <div class="d-flex">
            <button id="play" class="btn btn-outline-dark flex-shrink-0" type="button">
              Ouvir
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    const play = document.querySelector('#play')

    play.addEventListener('click', function () {

      const audio = document.querySelector('audio')

      audio.play

    })
  </script>
  <%- include('shared/footer')%>